/paper-rock-scissors-microservice-game-web/nbproject
/paper-rock-scissors-microservice-game-web/nbactions.xml
/paper-rock-scissors-microservice-game-web/nb-configuration.xml
/paper-rock-scissors-microservice-game-eureka-registry/nbactions.xml
/paper-rock-scissors-microservice-game-eureka-registry/nb-configuration.xml
/paper-rock-scissors-microservice-game-build-aggregator/nbactions.xml
/paper-rock-scissors-microservice-game-build-aggregator/nb-configuration.xml
/paper-rock-scissors-microservice-game-bot-player/nbactions.xml
/paper-rock-scissors-microservice-game-bot-player/nb-configuration.xml
